BODY {
	MIN-WIDTH: 900px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 150%; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Arial, Helvetica, Sans-Serif; BACKGROUND: white; COLOR: #000000; FONT-SIZE: 75%; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 150%; MARGIN: 5px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: square; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px 2em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	COLOR: #0270b7; TEXT-DECORATION: none
}
A:link {
	COLOR: #0270b7; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0270b7; TEXT-DECORATION: none
}
A:active {
	COLOR: #0270b7; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0270b7; TEXT-DECORATION: underline
}
IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; VERTICAL-ALIGN: middle; BORDER-LEFT-STYLE: none
}
HR {
	BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 1px; BORDER-TOP: #cccccc 1px dashed; BORDER-LEFT-WIDTH: 0px
}
*.header {
	BACKGROUND: url(../images/bg_header.gif) white repeat-x left bottom; HEIGHT: 100px
}
*.innerHeader {
	MARGIN: 0px auto; WIDTH: 1000px
}
*.title {
	MARGIN-TOP: 16px; WHITE-SPACE: nowrap; FLOAT: left
}
*.title IMG {
	FLOAT: left; MARGIN-RIGHT: 12px
}
*.title H1 {
	PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 150%; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
*.title H1 A:link {
	COLOR: black; TEXT-DECORATION: none
}
*.title H1 A:visited {
	COLOR: black; TEXT-DECORATION: none
}
*.title H1 A:active {
	COLOR: black; TEXT-DECORATION: none
}
*.title P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #666666; PADDING-TOP: 0px
}
*.title-menu {
	FLOAT: right; PADDING-TOP: 26px
}
.title-menu A:link {
	PADDING-BOTTOM: 4px; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: block; FLOAT: left; COLOR: #666; TEXT-DECORATION: none; PADDING-TOP: 4px
}
*.title-menu A:visited {
	PADDING-BOTTOM: 4px; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: block; FLOAT: left; COLOR: #666; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.title-menu A:active {
	PADDING-BOTTOM: 4px; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: block; FLOAT: left; COLOR: #666; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.title-menu A:hover {
	PADDING-BOTTOM: 4px; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: block; FLOAT: left; COLOR: #666; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.title-menu A:hover {
	BACKGROUND: #999;
	COLOR: #FFFFFF
}
.navPanel {
	BORDER-BOTTOM: #dad7cf 1px solid; LINE-HEIGHT: 200%; BACKGROUND: url(base/bg_btn.png) #f2f0ee left top; BORDER-TOP: #dad7cf 1px solid
}
.innerNavPanel {
	MARGIN: 0px auto; WIDTH: 1000px
}
*.buttonWrapper {
	BORDER-BOTTOM: #e4e1da 1px solid; BORDER-LEFT: #e4e1da 1px; BACKGROUND: url(base/bg_btn.png) #f2f0ee left top; BORDER-TOP: #e4e1da 1px solid; BORDER-RIGHT: #e4e1da 1px solid
}
*.buttons {
	BORDER-LEFT: #e4e1da 1px solid; LINE-HEIGHT: 200%; WIDTH: 99%; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.buttons A:link {
	BORDER-LEFT: white 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; BACKGROUND: url(base/bg_btn.png) #f4fbe1; FLOAT: left; COLOR: #645a44; BORDER-RIGHT: #e4e1da 1px solid; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.buttons A:active {
	BORDER-LEFT: white 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; BACKGROUND: url(base/bg_btn.png) #f4fbe1; FLOAT: left; COLOR: #645a44; BORDER-RIGHT: #e4e1da 1px solid; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.buttons A:visited {
	BORDER-LEFT: white 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; BACKGROUND: url(base/bg_btn.png) #f4fbe1; FLOAT: left; COLOR: #645a44; BORDER-RIGHT: #e4e1da 1px solid; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.buttons A:hover {
	BORDER-LEFT: white 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; BACKGROUND: url(base/bg_btn.png) #f4fbe1; FLOAT: left; COLOR: #645a44; BORDER-RIGHT: #e4e1da 1px solid; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.buttons A:hover {
	BACKGROUND: url(base/bg_btn_hover.png) #f4fadf repeat-x left top; COLOR: #395500
}
*.buttons-special {
	FONT-WEIGHT: bold
}
*.buttons-active {
	BACKGROUND: url(base/bg_btn_active.png) #fff1bb; COLOR: #993300 !important
}
.buttons .label {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; FLOAT: left; COLOR: #645a44; OVERFLOW: hidden; PADDING-TOP: 4px
}
.buttons .label A:link {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; HEIGHT: auto; BORDER-LEFT-STYLE: none; FONT-WEIGHT: bold; TEXT-DECORATION: underline; PADDING-TOP: 0px
}
.buttons .label A:active {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; HEIGHT: auto; BORDER-LEFT-STYLE: none; FONT-WEIGHT: bold; TEXT-DECORATION: underline; PADDING-TOP: 0px
}
.buttons .label A:visited {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; HEIGHT: auto; BORDER-LEFT-STYLE: none; FONT-WEIGHT: bold; TEXT-DECORATION: underline; PADDING-TOP: 0px
}
.buttons .label A:hover {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; HEIGHT: auto; BORDER-LEFT-STYLE: none; FONT-WEIGHT: bold; TEXT-DECORATION: underline; PADDING-TOP: 0px
}
HTML *.buttons IMG {
	MARGIN: 5px 5px 5px 0px; FLOAT: left
}
*.contentWrapper {
	MIN-WIDTH: 610px; MARGIN: 10px auto; WIDTH: 900px
}
*.content {
	WIDTH: 100%; FLOAT: left
}
.innerContent {
	OVERFLOW: visible; MARGIN-RIGHT: 210px
}
*.innerContent2 {
	OVERFLOW: visible
}
*.contentBlock {
	MARGIN: 0px 0px 40px
}
H3 {
	BORDER-BOTTOM: #e0e0e0 1px dashed; PADDING-BOTTOM: 5px; MARGIN: 10px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #669900; FONT-SIZE: 150%; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
H4 {
	PADDING-BOTTOM: 5px; MARGIN: 10px 0px 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; COLOR: #666666; FONT-SIZE: 125%; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.contentText {
	LINE-HEIGHT: 150%
}
.sidebar {
	WIDTH: 180px; FLOAT: right
}
.innerSidebar {

}
.sidebarBlock {
	PADDING-BOTTOM: 0px; MARGIN: 10px 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebarBlock H5 {
	BORDER-BOTTOM: #e4e2da 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #eeedea; COLOR: #666666; FONT-SIZE: 100%; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
*.sidebarContent H2 {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 13px; FONT-WEIGHT: 700; PADDING-TOP: 0px
}
.sidebarContent2 H2 {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 13px; FONT-WEIGHT: 700; PADDING-TOP: 0px
}
.sidebarContent2 A {
	CURSOR: pointer
}
.sidebarContent2 A:visited {
	CURSOR: pointer
}
.sidebarContent2 A:hover {
	CURSOR: pointer
}
.sidebarContent SPAN {
	COLOR: red
}
.sidebarBlock UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebarBlock LI {
	BORDER-BOTTOM: #e4e2da 1px dotted; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebarBlock LI A:link {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #333333; OVERFLOW: hidden; TEXT-DECORATION: none; PADDING-TOP: 5px
}
.sidebarBlock LI A:hover {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #333333; OVERFLOW: hidden; TEXT-DECORATION: none; PADDING-TOP: 5px
}
.sidebarBlock LI A:active {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #333333; OVERFLOW: hidden; TEXT-DECORATION: none; PADDING-TOP: 5px
}
.sidebarBlock LI A:visited {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #333333; OVERFLOW: hidden; TEXT-DECORATION: none; PADDING-TOP: 5px
}
.sidebarContent LI A:hover {
	BACKGROUND: #eff9d0; COLOR: #395500; TEXT-DECORATION: underline
}
.footer {
	TEXT-ALIGN: center; MARGIN: 20px 0px 0px; BACKGROUND: #dadada; COLOR: #666666; CLEAR: both
}
.innerFooter {
	MARGIN: 0px auto; WIDTH: 900px
}
*.footerLinks {
	BORDER-BOTTOM: #e4e1dc 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #e4e1dc 1px solid; LINE-HEIGHT: 1.5em; MARGIN-BOTTOM: 20px; BACKGROUND: #f2f1ee; HEIGHT: 90px; COLOR: #666666; BORDER-TOP: #e4e1dc 1px solid; BORDER-RIGHT: #e4e1dc 1px solid
}
*.footerLinks H2 {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT-SIZE: 13px; FONT-WEIGHT: 700; PADDING-TOP: 10px
}
*.footerLinks UL LI {
	LIST-STYLE-TYPE: none
}
*.footerLinks UL LI {
	FLOAT: left
}
*.footerLinks A:link {
	COLOR: #666666
}
*.footerLinks A:visited {
	COLOR: #666666
}
*.footerLinks A:active {
	COLOR: #666666
}
*.footerLinks A:hover {
	COLOR: #000000
}
*.v51 {
	MARGIN: 0px auto; WIDTH: 140px; HEIGHT: 56px; PADDING-TOP: 10px
}
.copyright {
	TEXT-ALIGN: center; PADDING-BOTTOM: 15px; MARGIN-TOP: 15px
}
.copyright A {
	COLOR: #666; TEXT-DECORATION: none
}
.copyright A:visited {
	COLOR: #666; TEXT-DECORATION: none
}
.copyright A:hover {
	COLOR: #666; TEXT-DECORATION: none
}
